.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
}

.data-list {
  margin-top: 30px
}

.feed-item {
  width: 400px;
}

.feed-title {
  width: 100%;
  text-align: center;
}

.feed-image-container {
  width: 100%;
}

.feed-image {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 280px;
  width: 300px;
}